
:root {
    --colorNeutral50: #f0f1f4;    
    --colorNeutral100: #e1e3e8;    
    --colorNeutral200: #c2c7d2;    
    --colorNeutral300: #a4abbb;    
    --colorNeutral500: #67738e;    
    --colorNeutral600: #525c72;    
    --colorNeutral700: #3e4555;    
    --colorNeutral800: #292e39;    
    --colorNeutral850: #1f232b;    
    --colorNeutralDarkslate: #292f3d;    
    --colorNeutralWhitecoral: #f5f9ff;    
    --colorNeutralPurewhite: #ffffff;    
    /* Previous style:
    Shades/Light Theme/Primary/Deep Purple/500 */
    --colorPrimaryDeeppurple50: #efeff5;    
    --colorPrimaryDeeppurple100: #dee0eb;    
    --colorPrimaryDeeppurple200: #bec1d6;    
    --colorPrimaryDeeppurple300: #9da1c2;    
    --colorPrimaryDeeppurple500: #5c6399;    
    --colorPrimaryDeeppurple600: #4a4f7a;    
    --colorPrimaryDeeppurple700: #373b5c;    
    --colorPrimaryDeeppurple800: #25283d;    
    --colorPrimaryDeeppurple850: #1c1e2e;    
    --colorPrimaryBluesky50: #e8f4fc;    
    --colorPrimaryBluesky100: #d0e8f9;    
    --colorPrimaryBluesky200: #a1d2f2;    
    --colorPrimaryBluesky300: #73bbec;    
    --colorPrimaryBluesky500: #158edf;    
    --colorPrimaryBluesky600: #1172b2;    
    --colorPrimaryBluesky700: #0d5586;    
    --colorPrimaryBluesky800: #083959;    
    --colorPrimaryBluesky850: #062b43;    
    --colorPrimaryCyan50: #e9f9f9;    
    --colorPrimaryCyan100: #d2f3f4;    
    --colorPrimaryCyan200: #a5e7e9;    
    --colorPrimaryCyan300: #79dcdd;    
    --colorPrimaryCyan500: #1fc4c7;    
    --colorPrimaryCyan600: #199d9f;    
    --colorPrimaryCyan700: #137677;    
    --colorPrimaryCyan800: #0c4e50;    
    --colorPrimaryCyan850: #093b3c;    
    --colorComplementaryGreengrass50: #f4faf2;    
    --colorComplementaryGreengrass100: #eaf4e5;    
    --colorComplementaryGreengrass200: #d4eacb;    
    --colorComplementaryGreengrass300: #bfdfb1;    
    --colorComplementaryGreengrass500: #94ca7d;    
    --colorComplementaryGreengrass600: #79a666;    
    --colorComplementaryGreengrass700: #5e824f;    
    --colorComplementaryGreengrass800: #435e37;    
    --colorComplementaryGreengrass850: #364c2c;    
    --colorComplementarySunset50: #fff7ec;    
    --colorComplementarySunset100: #feefd9;    
    --colorComplementarySunset200: #fedfb3;    
    --colorComplementarySunset300: #fdce8c;    
    --colorComplementarySunset500: #fcae40;    
    --colorComplementarySunset600: #ce8e33;    
    --colorComplementarySunset700: #9f6d26;    
    --colorComplementarySunset800: #714d1a;    
    --colorComplementarySunset850: #5a3d13;    
    --colorComplementaryOrange50: #fdefe9;    
    --colorComplementaryOrange100: #fcdfd2;    
    --colorComplementaryOrange200: #f9bea5;    
    --colorComplementaryOrange300: #f59e79;    
    --colorComplementaryOrange500: #ef5d1f;    
    --colorComplementaryOrange600: #bf4a19;    
    --colorComplementaryOrange700: #8f3813;    
    --colorComplementaryOrange800: #60250c;    
    --colorComplementaryOrange850: #481c09;    
    --colorComplementaryParadisepink50: #fcebf0;    
    --colorComplementaryParadisepink100: #fad7e0;    
    --colorComplementaryParadisepink200: #f5afc2;    
    --colorComplementaryParadisepink300: #ef88a3;    
    --colorComplementaryParadisepink500: #e53866;    
    --colorComplementaryParadisepink600: #b72d52;    
    --colorComplementaryParadisepink700: #89223d;    
    --colorComplementaryParadisepink800: #5c1629;    
    --colorComplementaryParadisepink850: #45111f;    
}